# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# ----------------------------
# Environment & Secrets
# ----------------------------
.env
*.env
# ----------------------------
# Secrets (ALL service accounts)
backend/secrets/
serviceAccountKey.json

# ----------------------------
# Runtime config (generated at runtime)
backend/config.json
backend/data

# --------------------------
# Docker 
docker-compose.override.yml
*.tar
# ----------------------------
# Runtime output
# ----------------------------
output/
*.mid
*.mp3

# ----------------------------
# OS / IDE
# ----------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

# ----------------------------
# Build / cache
# ----------------------------
build/
dist/
*.egg-info/
.cache/
.eggs/
pip-wheel-metadata/

# ----------------------------
# Logs / databases
# ----------------------------
*.log
*.sqlite3
*.db
*.pkl
*.h5

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Audio / native deps (DO NOT COMMIT)
# ----------------------------
ffmpeg/
fluidsynth/
FluidR3_GM/
*.sf2


